<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.rodolpheagnero.contactmanager" >

    <!-- mis pour forcer  -->
    <!--uses-sdk tools:overrideLibrary="
    android.support.design,
     android.support.v7.appcompat,
     android.support.graphics.drawable,
    android.support.v7.recyclerview,
    android.support.v4,
    android.support.mediacompat,
    android.support.fragment,
    android.support.coreui,
    android.support.coreutils,
    android.support.compat

"
/-->


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewContactActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ListContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewContactActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ListContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListContactActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SynchronisationActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>